.notfound .notfound-404 h1 {
  color: #fff;
}

.notfound h2 {
  color: #fff;
}

.notfound h3 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.notfound p {
  color: #fff;
}