.notfound .notfound-404 h1 {
  background: url('https://i.ibb.co/VSHw3bW/bg-404.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.notfound h2 {
  color: #000;
}

.notfound p {
  color: #000;
}