<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>What to watch</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{~/images/logo.png}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{~/css/mainstyles.css}" rel="stylesheet" />
    <link th:href="@{~/css/usercustoms.css}" rel="stylesheet" />
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{~/js/iconscript.js}"></script>

    <link th:href="@{~/css/wtw.css}" rel="stylesheet">
    <link th:href="@{~/css/wtw-tabs.css}" rel="stylesheet">
    <script th:src="@{~/js/wtwscript.js}"></script>
</head>

<body onload="seasonIcon(); enableOptions();" class="d-flex flex-column min-vh-100">
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="" id="icon"> BisonFun <span style="color:purple">User</span></a>
            <form th:action="@{~/search}" method="get" class="form-subscribe">
                <!-- Search input-->
                <div class="row">
                    <div class="col-6">
                        <input class="form-control form-control-lg" id="query" name="query" type="text" required
                               placeholder="Search..."/>
                    </div>
                    <div class="col-4">
                        <select id="types" class="form-select form-select-lg types" name="type">
                            <option value="movie" selected>Movie</option>
                            <option value="tv">TV Show</option>
                            <option value="anime">Anime</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-bisonfun btn-lg" id="searchButton"
                                type="submit">Find
                        </button>
                    </div>
                </div>
            </form>
            <!--Authenticated buttons-->
            <div sec:authorize="isAnonymous()">
                <a class="btn btn-lg btn-outline-bisonfun" th:href="@{~/login}">Login</a>
                <a class="btn btn-lg btn-bisonfun" th:href="@{~/register}">Sign Up</a>
            </div>
            <div sec:authorize="isAuthenticated()" class="btn-group">
                <a th:href="@{~/cabinet}" sec:authentication="name" class="btn btn-lg btn-bisonfun">Username</a>
                <button type="button" class="btn btn-lg btn-bisonfun dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{~/cabinet}">
                        <i class="bi bi-person-circle"></i>
                        User page</a></li>
                    <li><a class="dropdown-item" th:href="@{~/wtw}">
                        <i class="bi bi-collection-play"></i>
                        What To Watch</a></li>
                    <li><form action="/logout" method="post">
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-box-arrow-left"></i>
                        Logout</button>
                    </form></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Result -->
    <main class="container mt-3">
        <div class="row" style="height: 500px;">
            <div class="col-6 ">

                <div class="tabs" id="tabs">
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="personal" checked value="lightgray" style="display: none" class="tab-switch">
                        <label for="personal" class="tab-label">Personal</label>
                        <div class="tab-content">
                            <div class="container d-flex" style="height: 10vw">
                                <div class="col-4 text-center">
                                    <label for="anime">Anime </label>
                                    <input type="checkbox" value="anime" class="switch content-type" id="anime" name="content-type">
                                    <div class="anime">
                                        <div class="setting">
                                            <label for="anime-planned">Planned: </label>
                                            <input type="checkbox" value="planned" id="anime-planned" name="anime-planned">
                                        </div>
                                        <div class="setting">
                                            <label for="anime-watching">Watching: </label>
                                            <input type="checkbox" value="watching" id="anime-watching" name="anime-watching">
                                        </div>
                                        <div class="setting">
                                            <label for="anime-complete">Complete: </label>
                                            <input type="checkbox" value="complete" id="anime-complete" name="anime-complete">
                                        </div>
                                        <div class="setting">
                                            <select class="form-select" name="anime-type" id="anime-type">
                                                <option value="all">
                                                    Movie\TV
                                                </option>
                                                <option value="tv">
                                                    TV
                                                </option>
                                                <option value="movie">
                                                    Movie
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-center">
                                    <label for="movie">Movie </label>
                                    <input type="checkbox" value="movie" class="switch content-type" id="movie" name="content-type">
                                    <div class="movie">
                                        <div class="setting">
                                            <label for="movie-planned">Planned: </label>
                                            <input type="checkbox" value="planned" id="movie-planned" name="movie-planned">
                                        </div>
                                        <div class="setting">
                                            <label for="movie-watching">Watching: </label>
                                            <input type="checkbox" value="watching" id="movie-watching" name="movie-watching">
                                        </div>
                                        <div class="setting">
                                            <label for="movie-complete">Complete: </label>
                                            <input type="checkbox" value="complete" id="movie-complete" name="movie-complete">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-center">
                                    <label for="tv">Tv</label>
                                    <input type="checkbox" value="tv" class="switch content-type" id="tv" name="content-type">
                                    <div class="tv">
                                        <div class="setting">
                                            <label for="tv-planned">Planned: </label>
                                            <input type="checkbox" value="planned" id="tv-planned" name="tv-planned">
                                        </div>
                                        <div class="setting">
                                            <label for="tv-watching">Watching: </label>
                                            <input type="checkbox" value="watching" id="tv-watching" name="tv-watching">
                                        </div>
                                        <div class="setting">
                                            <label for="tv-complete">Complete: </label>
                                            <input type="checkbox" value="complete" id="tv-complete" name="tv-complete">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="hidden" id="username" th:value="${username}">
                                <input class="btn btn-outline-primary" disabled id="personal-generate" onclick="wtwscript()" type="button" value="Start"
                                       style="vertical-align: center">
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <input style="display: none" type="radio" name="css-tabs" id="global" value="#dc3545" class="tab-switch">
                        <label for="global" class="tab-label">Global</label>
                        <div class="tab-content overflow-auto d-flex flex-row flex-nowrap">
                            <h3>
                                Coming soon!
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 ">
                <div id="content">
                    <div class="alert alert-secondary mx-auto">
                        <img src="https://img.freepik.com/free-vector/flat-design-no-photo-sign-design_23-2149289006.jpg" alt="">
                        <div class="title">
                            <a href="" class="alert-link">Title</a>
                        </div>
                        <div class="type">
                            <span>Type</span>
                            <span>Year</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer --><br>
    <footer class="footer bg-light mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a th:href="@{~/about}">About</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="mailto:writenbite@protonmail.com">Contact</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a th:href="@{~/terms}">Terms of Use</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a th:href="@{~/privacy}">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© BisonFun <script>document.write(new Date().getFullYear())</script>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>

</html>