<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title th:text="${login}">null</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{~/images/logo.png}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{~/css/mainstyles.css}" rel="stylesheet" />
    <link th:href="@{~/css/usercustoms.css}" rel="stylesheet" />
    <link th:href="@{~/css/userpage.css}" rel="stylesheet" />
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
    <script th:src="@{~/js/iconscript.js}"></script>
</head>

<body onload="seasonIcon()" class="d-flex flex-column min-vh-100">
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="" height="48px" id="icon"> BisonFun <span style="color:purple">User</span></a>
            <form th:action="@{~/search}" method="get" class="form-subscribe">
                <!-- Search input-->
                <div class="row">
                    <div class="col-6">
                        <input class="form-control form-control-lg" id="query" name="query" type="text" required
                               placeholder="Search..."/>
                    </div>
                    <div class="col-4">
                        <select id="types" class="form-select form-select-lg types" name="type">
                            <option value="movie" selected>Movie</option>
                            <option value="tv">TV Show</option>
                            <option value="anime">Anime</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-bisonfun btn-lg" id="searchButton"
                                type="submit">Find
                        </button>
                    </div>
                </div>
            </form>
            <!--Authenticated buttons-->
            <div sec:authorize="isAnonymous()">
                <a class="btn btn-lg btn-outline-bisonfun" th:href="@{~/login}">Login</a>
                <a class="btn btn-lg btn-bisonfun" th:href="@{~/register}">Sign Up</a>
            </div>
            <div sec:authorize="isAuthenticated()" class="btn-group">
                <a th:href="@{~/cabinet}" sec:authentication="name" class="btn btn-lg btn-bisonfun">Username</a>
                <button type="button" class="btn btn-lg btn-bisonfun dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{~/cabinet}">
                        <i class="bi bi-person-circle"></i>
                        User page</a></li>
                    <li><a class="dropdown-item" th:href="@{~/wtw}">
                        <i class="bi bi-collection-play"></i>
                        What To Watch</a></li>
                    <li><form action="/logout" method="post">
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-box-arrow-left"></i>
                        Logout</button>
                    </form></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container mt-3">

        <div class="row container">
            <div class="">
                <img class="mx-auto d-block mt-3 avatar" width="160"
                     th:src="@{https://api.dicebear.com/6.x/notionists-neutral/svg(seed=${login}, backgroundColor='c0aede')}" alt="avatar">
                <div class="btn-group mt-2 container">
                    <h1 th:text="${login}" class="mx-auto username"></h1>
                </div>
            </div>
            <div class="container col-8 progress-bars">
                <div th:if="${!animeListProgressBar.isEmpty()}" class="pb-3">
                    <h3><a class="text-decoration-none link-primary" th:href="@{~/users/{username}/anime(username=${username})}">Anime
                        List</a></h3>
                    <div class="progress">
                        <div th:if="${animeListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE) != null && animeListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE).getValue() > 0}"
                             class="progress-bar bg-bisonfun" role="progressbar"
                             th:style="'width:'+${animeListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE)}+'%'" aria-valuenow="67"
                             aria-valuemin="0" aria-valuemax="261"
                             th:text="${animeListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE).getValue()}">
                        </div>
                        <div class="progress-bar bg" role="progressbar"
                             th:style="'width: '+${animeListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE) != null ? (animeListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED) != null ? 100 - animeListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED) - animeListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE) : 100 - animeListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE)) : 100}+'%'"
                             aria-valuenow="179" aria-valuemin="0" aria-valuemax="261"
                             th:text="${animeListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE) != null ? (animeListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED) != null ? animeListProgressBar.getTotal() - animeListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED).getValue() - animeListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE).getValue() : animeListProgressBar.getTotal() - animeListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE).getKey()) : animeListProgressBar.getTotal()}">
                        </div>
                        <div th:if="${animeListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED) != null && animeListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED).getValue() > 0}"
                             class="progress-bar bg-secondary" role="progressbar"
                             th:style="${'width: '+animeListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED)+'%'}" aria-valuenow="15"
                             aria-valuemin="0" aria-valuemax="261"
                             th:text="${animeListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED).getValue()}">
                        </div>
                    </div>
                    <div class="d-inline description">
                        <span th:text="'· '"></span>
                        <span th:each="animeListProgress : ${animeListProgressBar.getProgressParts()}"
                              th:if="${animeListProgress.getValue() > 0}"
                              th:text="${animeListProgress.getKey().getString()+' ('+animeListProgress.getValue()+') · '}">
                        </span>
                    </div>
                </div>
                <div th:if="${!movieListProgressBar.isEmpty()}" class="pb-3">
                    <h3><a class="text-decoration-none link-danger" th:href="@{~/users/{username}/movie(username=${username})}">Movie
                        List</a></h3>
                    <div class="progress">
                        <div th:if="${movieListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE) != null && movieListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE).getValue() > 0}"
                             class="progress-bar bg-bisonfun" role="progressbar"
                             th:style="'width:'+${movieListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE)}+'%'" aria-valuenow="67"
                             aria-valuemin="0" aria-valuemax="261"
                             th:text="${movieListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE).getValue()}">
                        </div>
                        <div class="progress-bar bg-danger" role="progressbar"
                             th:style="'width: '+${movieListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE) != null ? (movieListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED) != null ? 100 - movieListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED) - movieListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE) : 100 - movieListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE)) : 100}+'%'"
                             aria-valuenow="179" aria-valuemin="0" aria-valuemax="261"
                             th:text="${movieListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE) != null ? (movieListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED) != null ? movieListProgressBar.getTotal() - movieListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED).getValue() - movieListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE).getValue() : movieListProgressBar.getTotal() - movieListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE).getKey()) : movieListProgressBar.getTotal()}">
                        </div>
                        <div th:if="${movieListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED) != null && movieListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED).getValue() > 0}"
                             class="progress-bar bg-secondary" role="progressbar"
                             th:style="${'width: '+movieListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED)+'%'}" aria-valuenow="15"
                             aria-valuemin="0" aria-valuemax="261"
                             th:text="${movieListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED).getValue()}">
                        </div>
                    </div>
                    <div class="d-inline description">
                        <span th:text="'· '"></span>
                        <span th:each="movieListProgress : ${movieListProgressBar.getProgressParts()}"
                              th:if="${movieListProgress.getValue() > 0}"
                              th:text="${movieListProgress.getKey().getString()+' ('+movieListProgress.getValue()+') · '}">
                        </span>
                    </div>
                </div>
                <div th:if="${!tvListProgressBar.isEmpty()}" class="pb-3">
                    <h3><a class="text-decoration-none link-success" th:href="@{~/users/{username}/tv(username=${username})}">TV
                        List</a></h3>
                    <div class="progress">
                        <div th:if="${tvListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE) != null && tvListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE).getValue() > 0}"
                             class="progress-bar bg-bisonfun" role="progressbar"
                             th:style="'width:'+${tvListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE)}+'%'" aria-valuenow="67"
                             aria-valuemin="0" aria-valuemax="261"
                             th:text="${tvListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE).getValue()}">
                        </div>
                        <div class="progress-bar bg-success" role="progressbar"
                             th:style="'width: '+${tvListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE) != null ? (tvListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED) != null ? 100 - tvListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED) - tvListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE) : 100 - tvListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE)) : 100}+'%'"
                             aria-valuenow="179" aria-valuemin="0" aria-valuemax="261"
                             th:text="${tvListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE) != null ? (tvListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED) != null ? tvListProgressBar.getTotal() - tvListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED).getValue() - tvListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE).getValue() : tvListProgressBar.getTotal() - tvListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).COMPLETE).getKey()) : tvListProgressBar.getTotal()}">
                        </div>
                        <div th:if="${tvListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED) != null && tvListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED).getValue() > 0}"
                             class="progress-bar bg-secondary" role="progressbar"
                             th:style="${'width: '+tvListProgressBar.getPercentByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED)+'%'}" aria-valuenow="15"
                             aria-valuemin="0" aria-valuemax="261"
                             th:text="${tvListProgressBar.getProgressByKey(T(com.bisonfun.model.enums.VideoConsumingStatus).DROPPED).getValue()}">
                        </div>
                    </div>
                    <div class="d-inline description">
                        <span th:text="'· '"></span>
                        <span th:each="tvListProgress : ${tvListProgressBar.getProgressParts()}"
                              th:if="${tvListProgress.getValue() > 0}"
                              th:text="${tvListProgress.getKey().getString()+' ('+tvListProgress.getValue()+') · '}">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container py-5 stats">
            <h3 class="d-block text-center mx-auto pt-2">Stats</h3>
            <div th:if="${!meanScoreProgressBar.isEmpty()}" class="container stat col-8 py-3">
                <h5>Mean Score</h5>
                <div class="progress">
                    <div th:each="meanScoreProgress : ${meanScoreProgressBar.getProgressParts()}"
                         th:if="${meanScoreProgress.getValue() > 0}"
                         th:class="'progress-bar '+${meanScoreProgress.getKey() == T(com.bisonfun.dto.user.UserContentType).ANIME ? 'bg-primary' : (meanScoreProgress.getKey() == T(com.bisonfun.dto.user.UserContentType).MOVIE ? 'bg-danger' : 'bg-success')}"
                         role="progressbar"
                         th:style="'width: '+${meanScoreProgressBar.getPercentByKey(meanScoreProgress.getKey())}+'%'"
                         aria-valuenow="34.6" aria-valuemin="0" aria-valuemax="1212"
                         th:text="${meanScoreProgress.getValue()}+'%'">634
                    </div>
                </div>
            </div>
            <div class="container stat col-8 pb-3">
                <h5>Episode Watched</h5>
                <div class="d-inline">
                    <span th:text="'Total: '+${episodeProgressBar.getTotal()}+' Episodes'">Total: <span>1212</span> Episodes</span>
                </div>
                <div class="progress">
                    <div th:each="episodeProgress : ${episodeProgressBar.getProgressParts()}"
                         th:if="${episodeProgress.getValue() > 0}"
                         th:class="'progress-bar '+${episodeProgress.getKey() == T(com.bisonfun.dto.user.UserContentType).ANIME ? 'bg-primary' : (episodeProgress.getKey() == T(com.bisonfun.dto.user.UserContentType).MOVIE ? 'bg-danger' : 'bg-success')}"
                         role="progressbar"
                         th:style="'width: '+${episodeProgressBar.getPercentByKey(episodeProgress.getKey())}+'%'"
                         aria-valuenow="34.6" aria-valuemin="0" aria-valuemax="1212"
                         th:text="${episodeProgress.getValue()}">634
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer --><br>
    <footer class="footer bg-light mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a th:href="@{~/about}">About</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="mailto:writenbite@protonmail.com">Contact</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a th:href="@{~/terms}">Terms of Use</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a th:href="@{~/privacy}">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© BisonFun <script>document.write(new Date().getFullYear())</script>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>

</html>